@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 4, 15;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

@layer components {
  .section-padding {
    @apply px-6 py-16 sm:px-16 sm:py-24;
  }
  
  .heading-gradient {
    @apply bg-gradient-to-r from-primary to-purple-600 bg-clip-text text-transparent;
  }
  
  .flex-center {
    @apply flex items-center justify-center;
  }
  
  .flex-between {
    @apply flex items-center justify-between;
  }
}
